.container{
    z-index: -10;
}


.sidenav{
   
    background-color: #62e7f6;
    width: 200px;
}

.sidenav a{
    color: rgb(43, 42, 42);
    font-size: 1.2rem;
}

.sidenav i{
   padding-right: 8px;
}