.sidenav{
   
    background-color: #62e7f6;
    width: 200px;
}

.sidenav a{
    color: rgb(43, 42, 42);
    font-size: 1.2rem;
}

.sidenav i{
   padding-right: 8px;
}

.content{
    color:#333;
    background-color: #fefefe;
    padding:16px;
}