<mat-card>
    <mat-card-title>Update Product</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price-R$" 
            [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
    <button class="Salve" mat-button (click)="updateProduct()" Color-Cyan>
       Update
    </button>
    <button class="cancel" mat-button (click)="cancel()" Color-Cyan>
        Cancel
    </button>
</mat-card>
